Repository lightning-it/shared-assets: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, container-build, container-smoke, renovate-config-validate

actionlint:
  name: actionlint (GitHub Actions)
  language: system
  pass_filenames: false
  entry: bash -lc 'docker run --rm -v "$PWD":/repo -w /repo rhysd/actionlint:latest'

container-build:
  name: container build (local)
  language: system
  pass_filenames: false
  ...

container-smoke:
  name: container smoke test (ansible/cli)
  language: system
  pass_filenames: false
  ...

renovate-config-validate:
  name: renovate config linting (renovate-config-validator)
  language: system
  pass_filenames: false
  entry: bash -lc 'docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator'

Revert "refactor: update pre-commit configuration with new hooks and improved linting"
  .pre-commit-config.yaml
Due: none

refactor: enhance pre-commit configuration with improved hooks and descriptions
  container/base/.pre-commit-config.yaml
Due: none

fix: rename pre-commit configuration file to .pre-commit-config.yaml
  .github/workflows/sync-ee-containers.yml
Due: actionlint

feat: add multi-architecture support for container builds
  container/base/.github/workflows/container-build-publish.yml
Due: none

feat: add Code of Conduct and sync default assets in workflows
  .github/workflows/sync-ansible-inventories.yml
  .github/workflows/sync-ee-containers.yml
  CODE_OF_CONDUCT.md
  container/base/CODE_OF_CONDUCT.md
  container/base/CONTRIBUTING.md
  default/CODE_OF_CONDUCT.md
Due: actionlint

chore: update .gitignore to include additional Ansible log and temporary file patterns
  ansible-collection/base/.gitignore
  ansible-inventory/base/.gitignore
Due: none

feat: update Renovate configuration by replacing renovate.json with renovate.base.json and adding conditional skipping for foundational repo
  .github/workflows/sync-ansible-collections.yml
  ansible-collection/base/renovate.base.json
  ansible-collection/base/renovate.json
Due: actionlint

refactor: remove conditional skip for renovate.base.json in sync workflow
  .github/workflows/sync-ansible-collections.yml
Due: actionlint

feat: add .yamllint configuration and update renovate.base.json for improved dependency management
  .github/workflows/sync-ansible-collections.yml
  ansible-collection/base/.yamllint
  ansible-collection/base/renovate.base.json
Due: actionlint

refactor: streamline renovate.base.json by removing unused configurations and simplifying package rules
  ansible-collection/base/renovate.base.json
Due: none

feat: enhance ansible-core management by adding version pinning and regex managers in renovate.json
  renovate.json
Due: renovate-config-validate

refactor: simplify renovate.json by removing redundant configurations and streamlining package rules
  renovate.json
Due: renovate-config-validate

feat: add pinning for ansible-lint to 6.22.x in renovate.json for compatibility
  renovate.json
Due: renovate-config-validate

feat: add Python version pinning to 3.11.x in renovate.json and update fileMatch patterns for workflow environment variables
  renovate.json
Due: renovate-config-validate

chore: switch image registry from GHCR to Quay.io in workflow
  container/base/.github/workflows/container-build-publish.yml
Due: none

chore: add validation for Quay.io variables and update image name computation
  container/base/.github/workflows/container-build-publish.yml
Due: none

chore: add validation for Quay.io variables and update image name computation (#79)
  container/base/.github/workflows/container-build-publish.yml
Due: none

chore: update image registry from GHCR to Quay.io in scripts and renovate configuration
  ansible-collection/base/scripts/wunder-devtools-ee.sh
  default/scripts/wunder-devtools-ee.sh
  renovate.json
Due: renovate-config-validate

chore: update image tags for wunder-devtools-ee scripts to v1.1.5
  ansible-collection/base/scripts/wunder-devtools-ee.sh
  default/scripts/wunder-devtools-ee.sh
Due: none

chore: update image tag for wunder-devtools-ee to v1.1.8
  default/scripts/wunder-devtools-ee.sh
Due: none

Chore/update image registry (#80)
  ansible-collection/base/scripts/wunder-devtools-ee.sh
  default/scripts/wunder-devtools-ee.sh
  renovate.json
Due: renovate-config-validate

chore: normalize ANSIBLE_COLLECTIONS_PATH export across scripts
  .github/workflows/sync-ansible-collections.yml
  ansible-collection/base/AGENT.md
  ansible-collection/base/scripts/devtools-ansible-lint.sh
  ansible-collection/base/scripts/devtools-collection-prepare.sh
  ansible-collection/base/scripts/devtools-collection-smoke.sh
  ansible-collection/base/scripts/devtools-molecule.sh
  ansible-collection/base/scripts/wunder-devtools-ee.sh
  default/scripts/wunder-devtools-ee.sh
Due: actionlint

chore: normalize ANSIBLE_COLLECTIONS_PATH export across scripts (#81)
  .github/workflows/sync-ansible-collections.yml
  ansible-collection/base/AGENT.md
  ansible-collection/base/scripts/devtools-ansible-lint.sh
  ansible-collection/base/scripts/devtools-collection-prepare.sh
  ansible-collection/base/scripts/devtools-collection-smoke.sh
  ansible-collection/base/scripts/devtools-molecule.sh
  ansible-collection/base/scripts/wunder-devtools-ee.sh
  default/scripts/wunder-devtools-ee.sh
Due: actionlint

chore: update image tag for wunder-devtools-ee to v1.2.0
  ansible-collection/base/scripts/wunder-devtools-ee.sh
  default/scripts/wunder-devtools-ee.sh
Due: none

chore: update image tag for wunder-devtools-ee to v1.2.0 (#82)
  ansible-collection/base/scripts/wunder-devtools-ee.sh
  default/scripts/wunder-devtools-ee.sh
Due: none

chore: update .gitignore to include additional Ansible log and temporary file patterns (#83)
  ansible-collection/base/.gitignore
  ansible-inventory/base/.gitignore
Due: none

chore: enhance ansible-lint script to dynamically set versions and improve error handling
  .github/workflows/sync-ansible-collections.yml
  ansible-collection/base/scripts/devtools-ansible-lint.sh
Due: actionlint

chore: enhance ansible-lint script to dynamically set versions and improve error handling (#84)
  .github/workflows/sync-ansible-collections.yml
  ansible-collection/base/scripts/devtools-ansible-lint.sh
Due: actionlint

chore: enhance sync-ansible-collections workflow to prevent duplicate markers and normalize indentation
  .github/workflows/sync-ansible-collections.yml
Due: actionlint

chore: enhance sync-ansible-collections workflow to prevent duplicate markers and normalize indentation (#85)
  .github/workflows/sync-ansible-collections.yml
Due: actionlint

chore: update .ansible-lint comments for clarity and consistency
  ansible-collection/base/.ansible-lint
Due: none

Fix/sync collection (#86)
  ansible-collection/base/.ansible-lint
Due: none

Fix: add .ansible to .gitignore to exclude local Ansible collection installs
  ansible-collection/base/.gitignore
Due: none

Fix: add .ansible to .gitignore to exclude local Ansible collection installs (#89)
  ansible-collection/base/.gitignore
Due: none

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  container-build: any of: ^(Dockerfile|Containerfile|\.dockerignore|requirements\.txt|package\.json|package-lock\.json)$
  container-smoke: any of: ^(Dockerfile|Containerfile|\.dockerignore|requirements\.txt|package\.json|package-lock\.json)$
  renovate-config-validate: any of: ^renovate(\.json|-container\.json)$
